
/* selectors */
/* id selector */
#heading-one
{
    color:red;
}

/* class selector */
.subheading
{
    color:green;
}

/* pseudo selector 1)for all list  */
li:hover
{
    color:red;
}
/* pseudo selector 1)for specific list  */
.item-list:hover
{
  color:blue;
}
h1{
    color:yellow;
}
/* a:hover{
    color:tomato; 
}
/* take google links  */
/* select all link and mak them green */
a:any-link{
    color:rgb(26, 228, 26);
}
a:hover{
    color:crimson;
}
/* After visiting */
.show-visited:visited{
    color:yellow;
}