/* selectors */
/* id selector */
#heading-one
{
    color:red;

}

/* class selector */
.subheading
{
    color:green;
}

/* pseudo selector 1)for all list  */
li:hover
{
    color:red;
}
/* pseudo selector 1)for specific list  */
.item-list:hover
{
  color:blue;
}
h1{
    color:green;
}
/* a:hover{
    color:tomato; 
}
/* take google links  */
/* select all link and mak them green */
a:any-link{
    color:rgb(26, 228, 26);
}
a:hover{
    color:crimson;
}
/* After visiting */
#show-visited:visited{
    color:yellow;
}
/* ul list childs style */
li:first-child{
    color:indigo;
}
li:last-child{
    color:lightseagreen;
}
/* attribute selector & border property*/

/* 1)Anywhere : where ever you found fsd in src value give that image border*/

img[src*="FSD"]
{
    border:12px solid yellow;
}

/* 2)at start with  ^ --which vale of src start with d:/ select that element and aply the propertis. 
*/
/*
img[src^="D:/"]
{
    border:12px solid blue;
}
*/
/* 3) end with '$ --which images end with .jpg apply properties on them.*/

img[src$=".jpg"]
{
    border:12px solid red;
}
/* select image using class selector*/
.img-one 
{
    border:20px solid gray;
}
/* select image using id selector*/
#image-2
{
    border:10px solid purple;
}
/*preferences:
1)id selector
2)Attribute selector
3)class selector
*/